.container {
    background-color: lightsalmon;
    height: 100vh;
}

.commentsContainer {
    padding: "15px 10px";
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    margin-top: "20px";
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    background-color: #4598a6;
}

.comments {
    width: "100%";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    background-color: var(--logo-green);
    color:white;
    border: 2px solid black;
    padding-left: 4rem;
}

.commentBox {
    background-color: #4e627d;
    width: 50%;
    border-radius: 20px;
    padding: 15px 10px;
}

.commentForm {
    width: 50%;
    background-color: black;

}

.commentTitle {
    color: white;
    margin: 0 0 5px 35px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}