.container {
    background-color: rgb(255, 255, 255);
}

#comment-page-container {
    background-color: var(--burnt-orange);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px
}

.commentsContainer {
    padding: "15px 10px";
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    margin-top: "20px";
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    background-color: var(--cyan);
    margin-bottom: 2rem;
}

.comments {
    width: "100%";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    background-color: var(--logo-green);
    color:white;
    border: 2px solid black;
    padding-left: 4rem;
}

.commentBox {
    background-color: var(--grey-blue);
    width: 50%;
    border-radius: 20px;
    padding: 15px 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.commentForm {
    width: 50%;
    background-color: black;

}

.commentTitle {
    color: white;
    margin: 0 0 5px 35px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#comment-submit:hover {
    background-color: white;
    color:rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    font-weight: bold;
  }

  #comment-likes:hover {
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    font-weight: bold;
  }