

:root {
  --cyan: #079aa8;
  --grey-blue: #496380;
  --seafoam-green: #54b696;
  --dark-green: #5a9b6d;
  --light-seafoam-green: #8abbb6;
  --wine-purple: #711c52;
  --purple: #8428b4;
  --burnt-red: #8d2213;
  --light-green: #9ecfad;
  --grey: #e1e1e1;
  --orange: #e9612a;
  --burnt-orange: #d1774c;
  --logo-green: #67b2ab;
}

body {
  margin: 0;
  font-family: 'Cardo';
}

h2 {
  font-weight: lighter;
}

.page-title {
  background-color: var(--logo-green);
  color:white;
  border: 2px solid black;
  padding-left: 4rem;
}

/*  header css */

.header {
  background-color: var(--light-seafoam-green);
  max-height: 10em;
}
#subHeading {
  position: absolute;
  top: 5rem;
  left: 15rem;
  right: 2px;
  font-size: 20px;
  text-shadow: 3px 3px 5px white;
}

#spicyTitle {
  font-size: 3em;
  text-shadow: 3px 5px 5px white;
  position: absolute;
  top: 5px;
  left: 175px;
  right: 2px;

  height: 100px;
}

#logo {
  max-height: 10em;
}


/* dashboard CSS */

.dashboard-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border:1px solid white;
  margin: 20px;
  
}

.resources-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 25%;
  max-width: 25%;
  padding-top: 1rem;
  color: white;
  background-color: var(--grey-blue);
  padding-bottom: 1rem;
}

#resource-image {
  align-content: center;
  max-width: 85%;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 10px;
}

.dashboard-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
}

#sbDash {
  text-shadow: 2px 2px 5px white;
  
}

#dashboard-title {
  background-color: var(--burnt-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:5%;
  padding: 1rem;
  line-height: 1px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid;
  
}

.random-section {
  margin-top: 5%;
    padding-top: 1rem;
    border-top: 1px solid;
    text-align: center;
    padding-bottom: 1rem; 
    background-color: var(--light-green); 
    border-bottom-right-radius: 5px;
}

#quote {
  margin-top: 1.5rem;
  font-size: larger;
  line-height: 1.5;
  box-shadow: 10px 10px 5px lightblue;
}

.health-snap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.health-card {
  flex-basis: 33.333333%;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 25px;
  margin: auto;
  margin-top: 1rem
}

#nature-card {
  background-color: var(--dark-green);
  color: white
}

#exercise-card {
  background-color: var(--burnt-red);
  color: white
}

#relationship-card {
  background-color: var(--cyan);
  color: white
}

#mindful-card {
  background-color: var(--orange);
  color: white
}

#nutrition-card {
  background-color: var(--purple);
  color: white
}

#sleep-card {
  background-color: var(--grey-blue);
  color: white
}

#mental-card {
  background-color: var(--seafoam-green);
  color: white
}

#samhsa-button:hover {
  background-color: white;
  color:rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
  font-weight: bold;
}

#samhsa-button {
  border-radius: 10px;
  min-width: 70%;
  padding: .3rem;
  background-color: var(--dark-green);
  color: white;
  border: none;
}

#crisis-button:hover {
  background-color: white;
  color:rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
  font-weight: bold;
}

#crisis-button {
  border-radius: 10px;
  min-width: 70%;
  padding: .3rem;
  background-color: var(--wine-purple);
  color: white;
  border: none;
}

/* Previous Journals */

.page-container {
  background-color: var(--grey);
}

.journal-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: var(--cyan);
  border-radius: 25px;
  margin-left: 1em;
  margin-right: 1em;
}

.journal-card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 2.5rem;
  border: 1px solid;
  max-width: 45%;
  min-width: 45%;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: var(--light-green);
  box-shadow: 0px 0px 2px 2px;
}

#journal-date {
  background-color: var(--grey);
  max-width: 30%;
  text-align:center;
  margin: 1rem;
}

#journal-prompt {
  background-color: var(--grey-blue);
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 5px;

  color: white;
}

#journal-thoughts {
  background-color: var(--grey);
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

.journal-metrics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.metric-cards {
  background-color: var(--grey);
  max-width: 35%;
  min-width: 35%;
  border-radius: 25px;
  text-align: center;
  margin: 1em ;
  padding-left: 20px;
  padding-right: 20px; 
}

.metric {
  background-color: var(--grey-blue);
  color: white;
  border-radius: 25px;
  
}


/* Nav Bar */

nav a.active {
  background-color: var(--burnt-orange);
  color: white;
}

nav {
  color: white;
  position:absolute;
  left: 57rem;
  top:8.5rem;
}


#link {
  padding-left: 1rem;
  font-size: large;
}
  

#prompt {
  flex-basis: 33.333333%;
  padding: .5rem;
  border-radius: 25px;
  margin-left: 10em;
  margin-right: 10em;
  background-color: var(--seafoam-green);
  color: white;
  text-align: center;
  margin-top: 1rem;
}

#quote {
  padding: .5rem;
  border-radius: 25px;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 1rem;
  background-color: var(--grey-blue);
  color: white;
  text-align: center;
  font-size: large;
}
#entirePageColor{
  background-color: var(--cyan);
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  border-radius: 10px;
}

#journalForm {
  background-color: var(--dark-green);
  margin-top: 3em;
}

.questions {
  flex-basis: 33.333333%;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 25px;
  width: 20px;
  height: 70px;
  margin-left: 7em;
  margin-bottom: 2em ;
  margin-top: 1em;
  background-color: var(--grey);
  
}



.question-snap {
  background-color: #079aa8;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 1em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 30rem;
}

#type,
#time {
  margin-top: 10px;
  
}
#journalButton {
  height: 30px;
  position: absolute;
  margin-top: 40em;
  margin-left: 95em;
  
}

#writing {

  

}

