

:root {
  --cyan: #079aa8;
  --grey-blue: #496380;
  --seafoam-green: #54b696;
  --dark-green: #5a9b6d;
  --light-seafoam-green: #8abbb6;
  --wine-purple: #711c52;
  --purple: #8428b4;
  --burnt-red: #8d2213;
  --light-green: #9ecfad;
  --grey: #e1e1e1;
  --orange: #e9612a;
}

body {

  margin: 0;
  font-family: 'Cardo'

}

/*  header css */

.header {
  background-color: var(--light-seafoam-green);
  display: flex;
  flex-direction: 

}

#logo {
  max-width: 20%;
}


/* dashboard CSS */

.dashboard-container {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  margin: 20px;
}

.resources-section {
  text-align: center;
  border-right: 2px dotted;
  min-width: 25%;
  max-width: 25%;
  padding-top: 1rem;
  background-color: rgb(245, 245, 245);
  padding-bottom: 1rem;
}

.dashboard-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.random-section {
    padding-top: .5rem;
    border-top: 2px dotted;
    padding-bottom: .5rem;  
}

#quote {
  margin-top: 1.5rem;
  font-size: larger;
  line-height: 1.5;
}

.dashboard {
  padding-top: 1rem;
  padding-bottom:.5rem;
}

.health-snap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.health-card {
  flex-basis: 33.333333%;
  border: 1px solid;
  padding: .5rem;
  border-radius: 10px;
}

#resource-image {
  align-content: center;
  max-width: 90%;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 10px;
}

.dashboard-button:focus {
  border-radius: 10px;
  padding: .3rem;
  background-color: rgb(255, 255, 255);
}


nav a.active {
  background-color: black;
  color: white;
}

